[submodule "sample_projects/substrate:ospray-studio"]
	path = examples/sample_projects/substrate:ospray-studio
	url = https://github.com/seelabutk/substrate-ospray-studio
	branch = main
[submodule "src/substrate/tools/Water-and-Land"]
	path = src/substrate/tools/nc_slicer
	url = git@github.com:grsmgis/Water-and-Land.git
	branch = substrate
[submodule "src/substrate/tools/vci"]
	path = src/substrate/tools/braid
	url = git@bitbucket.org:seelabutk/vci.git
	branch = substrate
