[submodule "sample_projects/substrate:ospray-studio"]
	path = examples/sample_projects/substrate:ospray-studio
	url = https://github.com/seelabutk/substrate-ospray-studio
[submodule "frontends/jupyter"]
	path = frontends/jupyter
	url = https://github.com/seelabutk/substrate-jupyter
