[submodule "sample_projects/substrate:ospray-studio"]
	path = examples/sample_projects/substrate:ospray-studio
	url = https://github.com/seelabutk/substrate-ospray-studio
[submodule "src/substrate/tools/nc_slicer"]
	path = src/substrate/tools/nc_slicer
	url = https://github.com/grsmgis/Water-and-Land
	branch = substrate
