[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
'aws-cdk.core' = "~=1.147.0"
'aws-cdk.aws-ec2' = "~=1.147.0"
'aws-cdk.aws-efs' = "~=1.147.0"
'aws-cdk.aws-iam' = "~=1.147.0"
docker = "*"
paramiko = ">=2.10.1"
PyYAML = "*"

[dev-packages]
flake8 = "*"
pyflakes = "*"
pylint = "*"

[requires]
python_version = "3.8"
