html {
  font-family: "Source Sans Pro", Arial, sans-serif;
  margin: 0;
  padding: 0;
}
h1 {
  font-size: 36px;
}
body{
  background-color: white;
}
.header {
    padding: 20px;
    text-align: left;
    background: black;
    color: white;
    font-size: 20px;
  }
  header,
  footer {
    min-width: 1246px;
  }

.form{

    background-color: #000;
    color: white;
    text-align: left;
    padding-left: 20px;
    padding-bottom: 20px;
    font-family: "Source Sans Pro", sans-serif;
}
select {
  color: #202020;
  border-radius: 4px;
  background-color: #80807d;
  color: white
}
input {
  color: #202020;
  border-radius: 4px;
  background-color: #80807d;
  color: white
}
label{
  color: white

}
button{
  color: #202020;
  border-radius: 4px;
  background-color: #80807d;
  color: white
}