html {
  font-family: "Source Sans Pro", Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: black;

}
h1 {
  font-size: 42px;
}
h2 {
  font-size: 24px;
  background: black;
  text-align: center;
  color: white;
  margin: 0px;
  padding-left: 20px;
  padding-bottom: 20px;
}
body{
  background-color: black;
}
.header {
    /* padding: 20px; */
    text-align: center;
    background: black;
    color: white;
    font-size: 20px;
}
header,
footer {
  min-width: 1246px;
}

.form{
  border: 1px solid #ffffff;
  background-color: #000;
  color: white;
  text-align: left;
  padding-left: 20px;
  padding-bottom: 20px;
  font-family: "Source Sans Pro", sans-serif;
}
select {
  color: #202020;
  border-radius: 4px;
  background-color: #80807d;
  color: white
}
input {
  color: #202020;
  border-radius: 4px;
  background-color: #80807d;
  color: white
}
label{
  color: white

}
button{
  color: #202020;
  border-radius: 4px;
  background-color: #80807d;
  color: white
}

.column 
{
  float: left;
  width: 45%;
  /* border: 1px solid #ffffff; */
}

.center-column 
{
  float: left;
  width: 10%;
  /* top: 50%; */
  /* position: relative; */
  /* transform: translateY(-50%); */
  /* border: 1px solid #ffffff; */
}

.row:after 
{
  content: "";
  display: table;
  clear: both;
}

.hyperimage
{
    display: block;
    margin: 5px auto;
    border: 1px solid #ffffff;
    background-color: #ffffff;
}
.keyframes img 
{
    display: inline-block;
    width: 150px;
    height: 150px;
}

.center-icon 
{
  text-align: center;
  /* border: 1px solid #ffffff; */
  /* position: absolute;
  top: 50%;
  transform: translateY(-50%); */
}
.icons
{
  text-align: center;
}

a
{
  text-decoration: none;
}

.material-icons
{
  color: #ffffff;
  font-size: 40px;
}
