<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"></link>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DCHM</title>


	<!DOCTYPE html>
	<html lang="en">
	
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>DCHM</title>

		<!-- Demo Files -->
		<script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
		<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css"> -->
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

		<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"></link>
		<link rel="stylesheet" href="{{ url_for('static', filename='css/tuts.css') }}"></link>
		<script src="{{ url_for('static', filename='js/render.js') }}"></script>
		<script src="{{ url_for('static', filename='js/main.js') }}"></script>

		<!-- Core Tapestry JS -->
		<script src="{{ url_for('static', filename='js/jquery-1.12.4.min.js') }}"></script>
		<script src="{{ url_for('static', filename='js/tools.js') }}"></script>
		<script src="{{ url_for('static', filename='js/sylvester.js') }}"></script>
		<script src="{{ url_for('static', filename='js/math.js') }}"></script>
		<script src="{{ url_for('static', filename='js/arcball.js') }}"></script>
		<script src="{{ url_for('static', filename='js/tools.js') }}"></script>
		<script src="{{ url_for('static', filename='js/tapestry.js') }}"></script>
	</head>
	
	<body>
		<div class="header">
			<h1>Render DCHM</h1>
		</div>
		<div class="row">
			<!-- Input Var Form -->
			<div class="column">
				<h2>Input Variables</h2>
				<div class="form">
					<label for="region-input">Basin: </label>
					<select name="basin-input" id="basin-input" class="basin-input"> 
						<option value="PRB">PRB</option>
						<option value="LTTB">LTTB</option>
						<option value="LFBB" selected>LFBB</option>
						<option value="LPRB">LPRB</option>
					</select>
					<br> 
					<label for="varname-input">Variable:</label>
					<select name="vname-input" id="varname-input" class="varname-input"></select>
					<br> 
					<label for="date-input">Date:</label>
					<input type="date" id="date-input" name="date-input" class="date-input" min="2016-08-01" max="2019-12-31" value="2016-08-01">
					<br> 
					<label for="hour-input">Hour:</label>
					<input type="number" id="hour-input" name="hour-input" class="hour-input" min="1" max="24" value="1">
				</div>
			</div>
			<!-- Output Var Form -->
			<div class="column">
				<h2>Output Variables</h2>
				<div class="form">
					<label for="region-output">Basin: </label>
					<select name="basin-output" id="basin-output" class="basin-output">
						<option value="PRB">PRB</option>
						<option value="LTTB">LTTB</option>
						<option value="LFBB" selected>LFBB</option>
						<option value="LPRB">LPRB</option>
					</select>
					<br> 
					<label for="varname-output">Variable:</label>
					<select name="vname-output" id="varname-output" class="varname-output"></select>
					<br> 
					<label for="date-output">Date:</label>
					<input type="date" id="date-output" class="date-output" name="date-output" min="2016-08-01" max="2019-12-31" value="2016-08-01">
					<br> 
					<label for="hour-output">Hour:</label>
					<input type="number" id="hour-output" class="date-output" name="hour-output" min="1" max="24" value="1">
				</div>
			</div>
		</div>

		<!-- hyperimages -->
		<div class="row">
			<!-- INPUT -->
			<div class="column">
				<!-- input hyperimage -->
				<div class="hyperimage" id="input_var" data-dataset="LFBB_input"> </div>  
				<!-- associated hyperactions -->
				<div class="center-icon">
					<!-- play animation -->
					<div class="tooltip">
						<a class="hyperaction" href="#" for="input_var" id="input-play" data-action="play()" data-title="Play Animation">
							<i class="material-icons">play_circle_outline</i>
						</a>
						<span class="tooltiptext" id="top">Play Animation</span>
					</div>
					<!-- pause animation -->
					<div class="tooltip">
						<a class="hyperaction" href="#" for="input_var" id="input-pause" data-action="stop()" style="display: none" data-title="Pause Animation">
							<i class="material-icons">pause_circle_outline</i>
						</a>
						<span class="tooltiptext" id="top">Pause Animation</span>
					</div>
					<!-- reset camera -->
					<div class="tooltip">
						<a class="hyperaction" href="#" for="input_var" data-action="position=-100,10,800">
							<i class="material-icons">photo_camera</i>
						</a>
						<span class="tooltiptext" id="top">Reset Camera</span>
					</div>
				</div>
			</div>
			<!-- OUTPUT -->
			<div class="column">
				<!-- output hyperimage -->
				<div class="hyperimage" id="output_var" data-dataset="LFBB_output"></div>  
				<!-- associated hyperactions -->
				<div class="center-icon">
					<!-- play animation -->
					<div class="tooltip">
						<a class="hyperaction" href="#" for="output_var" id="output-play" data-action="play()">
							<i class="material-icons">play_circle_outline</i>
						</a>
						<span class="tooltiptext" id="top">Play Animation</span>
					</div>
					<!-- pause animation -->
					<div class="tooltip">
						<a class="hyperaction" href="#" for="output_var" id="output-pause" data-action="stop()" style="display: none">
							<i class="material-icons">pause_circle_outline</i>
						</a>
						<span class="tooltiptext" id="top">Pause Animation</span>
					</div>
					<!-- reset camera -->
					<div class="tooltip">
						<a class="hyperaction" href="#" for="output_var" data-action="position=-100,10,800">
							<i class="material-icons">photo_camera</i>
						</a>
						<span class="tooltiptext" id="top">Reset Camera</span>
					</div>
				</div>
			</div>
		</div>

		<!-- link/unlink hyperactions -->
		<div class="center-icon">
			<!-- link cameras -->
			<div class="tooltip">
				<a class="hyperaction" href="#" for="input_var" data-action="link(output_var)">
					<i class="material-icons">link</i>
				</a>
				<span class="tooltiptext" id="top">Link Cameras</span>
			</div>
			<!-- unlink cameras -->
			<div class="tooltip">
				<a class="hyperaction" href="#" for="input_var" data-action="unlink(output_var)">
					<i class="material-icons">link_off</i>
				</a>
				<span class="tooltiptext" id="top">Unlink Cameras</span>
			</div>
		</div>


	</body>

	
	</html>
</head>
